@model PE3.Pokemon.web.Entities.MyPokemon
@{
    ViewData["Title"] = "Pokemon";
}
@{ 
    StringBuilder sb = new StringBuilder();
    short catches = Model.PokemonUsers.FirstOrDefault().Catches;
    var colors = new string[2];
    colors[0] = Model.PokemonTypes.FirstOrDefault().Type.Colour;
    colors[1] = (Model.PokemonTypes.Count < 2) ? colors[0] : Model.PokemonTypes.ElementAtOrDefault(1).Type.Colour;
    foreach(var t in Model.PokemonTypes)
    {
        sb.Append($"{t.Type.Name} ");
    }
}

<div class="pokeview">
    <div class="pokedetail">
        <div class="poke-img" style="background: linear-gradient(90deg, @colors[0] 50%, @colors[1] 50%);">
            <img src="~/images/PokeImages/@Model.ImgUrl" />
        </div>
        <div class="poke-meta">
            <div class="poke-item">
                <p><b>Name: </b>@Model.Name</p>
            </div>
            <div class="poke-item">
                <p><b>Caught: </b>@catches.ToString()</p>
            </div>
            <div class="poke-item">
                <p><b>ID: </b>@Model.NDex.ToString().PadLeft(3,'0')</p>
            </div>
            <div class="poke-item">
                <p><b>Type(s): </b>@sb.ToString()</p>
            </div>
            <div class="poke-item">
                <p><b>Descr: </b>@Model.Description </p>
            </div>
        </div>
    </div>
</div>

